h1, h2, .links {
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

.link {
  color: blue;
  text-decoration: none;
  margin: 0.5em;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
